
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" />
<!-- <div class="nav" >
    <app-nav-bar></app-nav-bar>
</div> -->
<!-- <div class="carousel">
        <app-carousel></app-carousel>
</div> -->

<!-- <app-toolbar></app-toolbar> -->
<!-- <div class="container">

    <div class="row">
        <div class="inner-main">
            <h2 class="mb-4">User Profile</h2>
            <p><strong>Name:</strong> {{this.currentUser.name}}</p>
            <p><strong>Email:</strong> {{this.currentUser.email}}</p>

        </div>
    </div>
</div> -->
<!-- <div class="ngbd-modal-component">
    <ngbd-modal-component></ngbd-modal-component>
</div> -->

<!-- <div>
  <app-gametest url="assets/unitygame.html"></app-gametest>
</div> -->
<div class="big-img">
  <a href="#" class="img">
    <img src="../../assets/images/first_pic.png" alt="">
    <div>
      <i class="star"></i>
      <span>8.6</span>
      <i class="comment"></i>
      <span>80551</span>
    </div>
  </a>

</div>
<div id="content">
  <!--left of the body-->
  <div id="content_left">
    <!--The first game recommendation-->
    <ul>
      <li class="game_presenter">From the topic</li>
      <li class="game_title"><a href="#">The Fourth anniversary</a></li>
      <li class="game_img" title="The Fourth anniversary">
        <a class="img" href="#"></a>
        <a class="img" href="">
          <img src="../../assets/images/game_recommend_1.jpg">
          <div>
            <i class="star"></i><span>7.2</span>
            <i class="comment"></i><span>7225</span>
          </div>
        </a>
      </li>
      <li class="game_describe">Taptap fourth anniversary</li>
    </ul>
    <!--The second game recommendation-->
    <ul>
      <li class="game_presenter">Recommended from the editor</li>
      <li class="game_title"><a href="#">Wilderness Diary</a></li>
      <li class="game_img" title="Wilderness Diary">
        <a class="img" href="#"></a>
        <a class="img" href="">
          <img src="../../assets/images/game_recommend_2.jpg">
          <div>
            <i class="star"></i><span>9.5</span>
            <i class="comment"></i><span>286</span>
          </div>
        </a>
      </li>
      <li class="game_describe">Play as the only human being left and light the fire of life in the last days</li>
    </ul>

    <!--The third game recommendation-->
    <ul>
      <li class="game_presenter">Recommended from the editor</li>
      <li class="game_title"><a href="#">Badminton master</a></li>
      <li class="game_img" title="Badminton master">
        <a class="img" href="#"></a>
        <a class="img" href="">
          <img src="../../assets/images/game_recommend_3.jpg">
          <div>
            <i class="star"></i><span>9.5</span>
            <i class="comment"></i><span>286</span>
          </div>
        </a>
      </li>
      <li class="game_describe">Cool smash, addictive badminton</li>
    </ul>

    <!--The fourth game recommendation-->
    <ul>
      <li class="game_presenter">Recommended from the editor</li>
      <li class="game_title"><a href="#">Pixel Shooting Challenge</a></li>
      <li class="game_img" title="Pixel Shooting Challenge">
        <a class="img" href="#"></a>
        <a class="img" href="">
          <img src="../../assets/images/game_recommend_4.jpg">
          <div>
            <i class="star"></i><span>9.5</span>
            <i class="comment"></i><span>286</span>
          </div>
        </a>
      </li>
      <li class="game_describe">Pixel weapons unlimited combos</li>
    </ul>

    <!--The fifth game recommendation-->
    <ul>
      <li class="game_presenter">Recommended from the editor</li>
      <li class="game_title"><a href="#">Super Adventure Town Story</a></li>
      <li class="game_img" title="Super Adventure Town Story">
        <a class="img" href="#"></a>
        <a class="img" href="">
          <img src="../../assets/images/game_recommend_5.jpg">
          <div>
            <i class="star"></i><span>9.5</span>
            <i class="comment"></i><span>286</span>
          </div>
        </a>
      </li>
      <li class="game_describe">Run a small town and gather adventurers to explore the world</li>
    </ul>

  </div>

  <!--right of the body-->
  <div id="content_right">

    <!--leaderboard-->
    <div id="leaderboard">
      <h3 class="right_head">
        Leaderboard
        <a href="/games#2">More</a>
      </h3>
      <div class="leaderboard_content">
        <div class="select_content" id="leaderboard_hot">
          <ul>
            <li>
              <span class="order">1</span>
              <img src="../../assets/images/leaderboard_1.png">
              <div>
                <a href="#">Exotic Flower Fighter</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span class="order">2</span>
              <img src="../../assets/images/leaderboard_2.png">
              <div>
                <a href="#">Re:Dive</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span class="order">3</span>
              <img src="../../assets/images/leaderboard_3.png">
              <div>
                <a href="#">Sausage party</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span>4</span>
              <img src="../../assets/images/leaderboard_4.png">
              <div>
                <a href="#">Endless challenge</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span>5</span>
              <img src="../../assets/images/leaderboard_5.png">
              <div>
                <a href="#">Dash Crashers</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span>6</span>
              <img src="../../assets/images/leaderboard_6.png">
              <div>
                <a href="#">Downhill</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span>7</span>
              <img src="../../assets/images/leaderboard_7.png">
              <div>
                <a href="#">Animal arranger</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>
            <li>
              <span>8</span>
              <img src="../../assets/images/leaderboard_8.png">
              <div>
                <a href="#">Tomorrow's Ark</a>
                8.6
                <i class="black_star"></i>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>


    <!--Popular game tags-->
    <div id="hot_game_label">
      <h3 class="right_head">
        Popular game tags
      </h3>
      <hr>
      <div class="hot_game_content">
        <ul>
          <p><a href="#">Stand-alone</a></p>
          <p><a href="#">Cosplay</a></p>
          <p><a href="#">Survive</a></p>

          <!--<div class="clearfloat"></div>-->
        </ul>
        <ul>
          <p><a href="#">MOBA</a></p>
          <p><a href="#">Action</a></p>
          <p><a href="#">Quadratic element</a></p>

        </ul>
        <ul>
          <p><a href="#">Simulation</a></p>
          <p><a href="#">Card</a></p>
          <p><a href="#">Strategy</a></p>

        </ul>

        <ul><p><a href="#">Racing</a></p>
          <p><a href="#">Steam</a></p>
          <p><a href="#">Online</a></p>
        </ul>
        <div class="clearfloat"></div>
      </div>
    </div>

    <!--New articles-->
    <div id="new_comment">
      <h3 class="right_head">
        New articles
      </h3>
      <hr>
      <div *ngFor="let article of articlelist ; index as i" > 
          <div class="new_comment_content">
              <div class="new_comment_text">
                <i class="text_start"></i>
                <a  href="/detail/{{article.id}}"><p>passage{{i+1}}</p></a>
                <i class="text_stop"></i>
              </div>
            </div>
      </div>
      <!--The first article-->
      <!-- <div class="new_comment_content">
        <div class="new_comment_text">
          <i class="text_start"></i>
          <p>passage1</p>
          <i class="text_stop"></i>
        </div>
      </div> -->
      <!--The second article-->
      <!-- <div class="new_comment_content">
        <div class="new_comment_text">
          <i class="text_start"></i>
          <p>passage2</p>
          <i class="text_stop"></i>
        </div>
      </div> -->
      <!--The third article-->
      <!-- <div class="new_comment_content">
        <div class="new_comment_text">
          <i class="text_start"></i>
          <p>passage3</p>
          <i class="text_stop"></i>
        </div>
      </div> -->

    </div><!--end of new articles-->


  </div>
  <!-- finished of right part -->
</div>

<div>
    <app-footbar></app-footbar>
</div>
