.input{
  margin-top: 30px;
}

button{
  margin-top: 80px;
  margin-left: 10px;
}

.hinttext{
  font-size: large;
}

.infotext{
  font-size: larger;
  margin-top: 70px;
}

.title{
  width: 130px;
  height: 30px;
  margin-bottom: 10px;
}
.content{
  width: 400px;
  height: 100px;
}
.btn{
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #5c6bc0;
}

.card{
  width: 700px;
  height: 295px;
  background-color:transparent
}


